body {
  overflow-x: hidden;
  overflow-y: hidden;
}


.App .containerGrid {
  display: grid;
  grid-template-columns:325px 325px 325px; 
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: auto;
  margin: 0 auto;
}

@media only screen and (max-width:1090px) {
  .App .containerGrid {
    grid-template-columns:30vw 30vw 30vw; 
    width: auto;

  }
}

.Background {
  width: 100vw;
  background-image: url('./Components/img/bg.jpg');
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}